.AppHeader {
  background-color: var(--darkest-grey);
  display: flex;
  height: 85px;
  padding: 8px 16px;

  .Logo {
    background-image: url("/cbf_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 200px;
  }
}
